@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include order(2);
}

:root {
  --color1: rgb(236, 27, 117); //#EC1B75;|#4D03A9 |#F58DBA  
  --color2: rgb(239, 65, 140); //#EF418C;|#6407A1 |#F267A3 
  --color3: rgb(242, 103, 163); //#F267A3;|#7A0A9A |#EF418C
  --color4: rgb(245, 141, 186); //#F58DBA;|#910E93 |#EC1B75
  --color5: rgb(248, 178, 208); //#F8B2D0;|#A8118B |#CA1680
  --color6: rgb(251, 216, 231); //#FBD8E7;|#BF1484 |#A8118B
  --color7: rgb(254, 254, 254); //#FEFEFE;|#D5187C |#860C96
}

/* Pink Light scheme (Default) */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: var(--color1);
  --primary-hover: var(--color2);
  --primary-focus: var(--color3);
  --primary-inverse: var(--color7);
}

/* Pink Dark scheme (Auto) */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: var(--color4);
    --primary-hover: var(--color5);
    --primary-focus: var(--color6);
    --primary-inverse: var(--color7);
  }
}

/* Pink Dark scheme (Forced) */
[data-theme="dark"] {
  --primary: var(--color4);
  --primary-hover: var(--color5);
  --primary-focus: var(--color6);
  --primary-inverse: var(--color7);
}

/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}