nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0;
  font-size: medium;
  font-weight: bold;
  margin: 0;
  z-index: 30;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);

  ul {
    display: flex;

    li {
      margin-left: 1rem;

      a {
        color: #333;
        text-decoration: none;

        &:hover {
          color: #000;
        }
      }
    }
  }
}


main {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  bottom: auto;
  height: 100px;
  width: 100%;
}